# ignore everything by default
*

!.gitignore  # upload this file
!.zshrc
!.vimrc
!.rgrc
!.tmux.conf
!.clang-format
!.config/
!.config/nvim/
!.config/nvim/**
!.config/mypy/
!.config/mypy/**
!.config/clangd/
!.config/clangd/**
!.config/mpv/
!.config/mpv/**
